article
	include ../../layout/bread.pug
	.typo.box
		h3 Заголовок 2
		p Задняя ступица представляет собой один из ключевых элементов каждого вращающегося механизма, включая и автомобильное колесо. Деталь выступает необходимой частью вращающихся компонентов с отверстием, которое позволяет насадить ее на ось или вал. Так что основная задача ступицы заключается в обеспечении вращательного движения. Чтобы контролировать вращение на оси, в ступицу запрессовываются подшипники качения или особые заглушки. Более того, именно за счет подшипников задняя ступица, а также автомобильное колесо способны вращаться.
		ul
			li неприятный стук из-под капота вашего авто
			li стук гидрокомпенсаторов
		.w100
			img(src="/assets/img/pages/typo/5.jpg")

		.note
			p Увидев на дисплее бортового компьютера непонятные Вам буквенно-цифровые коды, не спешите обращаться к справочникам. Звоните в автосервис АВТОЦЕХ, отсылайте заявку на диагностическое обслуживание.
	.master.mb16
		.img(style="background-image: url(/assets/img/pages/typo/m1.jpg); background-position: 30% center")
		.dsc
			h3 Корпенко Станислав
			p <b>Стаж</b> 12 лет
			p.bold Специализация
			
			ul
				li - мотористика	
				li - электрика

			p.i Такой большой опыт работы, связанной с ремонтом автомобилей позволил мне постепенно вывести оснащение автосервиса компании на максимально высокий технический уровень.

			p.write
				img.lazyload(data-src="/assets/img/pages/typo/pen.svg")
				span Записаться к мастеру	
	#certs
		h3 Сертификаты "АВТОЦЕХ"-а
		.list
			img.lazyload(data-src="/assets/img/pages/typo/c1.jpg" width="125" height="175")
			img.lazyload(data-src="/assets/img/pages/typo/c1.jpg" width="125" height="175")
			img.lazyload(data-src="/assets/img/pages/typo/c1.jpg" width="125" height="175")
			img.lazyload(data-src="/assets/img/pages/typo/c1.jpg" width="125" height="175")
	.mobile-master
		.row
			img(src="/assets/img/pages/typo/m2.jpg")
			.dsc
				h3 Корпенко Станислав
				p Стаж 12 лет
				p Специализация
				ul
					li - мотористика
					li - электрика
		.desc
			p Такой большой опыт работы, связанной с ремонтом автомобилей позволил мне постепенно вывести оснащение автосервиса компании на максимально высокий технический уровень. 
		p.signup
			img.lazyload(data-src="/assets/img/pages/typo/pen.svg" width="15" height="15")
			span Записаться к мастеру	
							
