article
	include ../../layout/bread.pug
	#model-intro
		h1 Ремонт и диагностика Тойота RAV4
		.imgwrap
			img.m(src="/assets/img/pages/model/01.jpg")
		.row
			span.year XA50, 2018 - н.в.
			span.signup
				img.lazyload(data-src="/assets/img/pages/model/pen.svg" width="15" height="15")
				span Записаться на сервис
	#spec.box.mb16
		h3 Специализированный сервис <span>Мерседес<span>
		p Мы ремонтируем <span>Мерседес<span> с 2003 года!
		.list
			.item
				img.lazyload(data-src="/assets/img/pages/vendor/01.svg")
				p Дилерское качество работ
			.item
				img.lazyload(data-src="/assets/img/pages/vendor/02.svg")
				p Сохраняем заводскую гарантию
			.item
				img.lazyload(data-src="/assets/img/pages/vendor/03.svg")
				p Отдаем автомобиль вовремя
		button.reject Получить консультацию				
	.remont.box.mb16
		h3 Стоимость ремонта Toyota RAV4 XA50
		ul
			li
				a(href="#n1") Тормозная система
			li
				a(href="#n2") Двигатель
			li
				a(href="#") Ходовая / подвеска
		h4#n1 <a href="#">Тормозная система</a>
		table.def
			thead
				tr
					td Наименование услуги
					td Стоимость от, руб.
					td
			tbody
				tr
					td
						a(href="#") Тормозные суппорта
					td 50
					td.order Заказать
				tr
					td
						a(href="#") Задние суппорта
					td 45
					td.order  Заказать
				tr
					td
						a(href="#") Передние суппорта
					td 45
					td.order Заказать
		h4#n2 <a href="#">Двигатель</a>
		table.def
			thead
				tr
					td Наименование услуги
					td Стоимость от, руб.
					td
			tbody
				tr
					td
						a(href="#") Чтение ошибок
					td 50
					td.order  Заказать
				tr
					td
						a(href="#") Замена ремня ГРМ
					td 45
					td.order  Заказать
				tr
					td
						a(href="#") Чистка клапана ЕГР
					td 45
					td.order  Заказать