article
	include ../../layout/bread.pug
	#duty-intro.box
		.img(style="background-image: url(/assets/img/pages/duty/15.jpg)")
		h1 О нас
		p Компания «Автоцех» работает на рынке сервисного обслуживания автомобилей более десяти лет. За время нашей работы через руки наших механиков прошло больше 35000 автомобилей. Наши мощности позволяют обслуживать крупные автопарки компаний. 
		p Мы являемся — официальным дилером масел Total, Shell, Castrol с правом продажи полной линейки продуктов
		.cta
			img.lazyload(data-src="/assets/img/pages/duty/cart.svg" width="32" height="30")
			p Заказать
				span услугу	
		ul
			li строка 1
			li строка 2
			li строка 3
		ul.tel
			li
				img(src="assets/img/layout/header/a2.png")
				a(href="tel:+375293715050")
					span +375 (29) 371-50-50
			li
				img(src="assets/img/layout/header/mts.png")
				a(href="tel:+375333715050")
					span +375 (33) 371-50-50
			li
				img(src="/assets/img/layout/header/viber.svg")
				a(href="viber://chat/?number=%2B375293715050")
					span +375 (29) 371-50-50
			li
				img(src="/assets/img/layout/header/tg.svg")
				a(href="tg://resolve?domain=Autoceh")
					span +375 (29) 371-50-50
			li
				img(src="/assets/img/layout/header/in.svg")
				a(href="https://www.instagram.com/autoceh.by/")
					span Instagram


		p <b>Базовое техническое обслуживание. </b> Которое включает в себя: замену моторного масла и масляного фильтра двигателя, фильтра вентиляции салона, проверку состояния элементов ходовой части, подвески, рулевого управления, тормозной и систем управления двигателем, сброс памяти ошибок и обнуление счетчика следующего ТО. 	
		table.def
			thead
				tr
					td Наименование услуги
					td Стоимость от, руб.
					td
			tbody
				tr
					td
						a(href="#") Базовое ТО
					td 20
					td.order Заказать	
				tr
					td
						a(href="#") Стандартное ТО
					td 30
					td.order Заказать	
