article
	include ../../layout/bread.pug
	#duty-intro.box
		.img(style="background-image: url(/assets/img/pages/duty/15.jpg)")
		h1 О нас
		p Компания «Автоцех» работает на рынке сервисного обслуживания автомобилей более десяти лет. За время нашей работы через руки наших механиков прошло больше 35000 автомобилей. Наши мощности позволяют обслуживать крупные автопарки компаний. 
		p Мы являемся — официальным дилером масел Total, Shell, Castrol с правом продажи полной линейки продуктов
		.cta
			img.lazyload(data-src="/assets/img/pages/duty/cart.svg" width="32" height="30")
			p Заказать
				span услугу	
		ul
			li строка 1
			li строка 2
			li строка 3
		p <b>Базовое техническое обслуживание. </b> Которое включает в себя: замену моторного масла и масляного фильтра двигателя, фильтра вентиляции салона, проверку состояния элементов ходовой части, подвески, рулевого управления, тормозной и систем управления двигателем, сброс памяти ошибок и обнуление счетчика следующего ТО. 	
		table.def
			thead
				tr
					td Наименование услуги
					td Стоимость от, руб.
					td
			tbody
				tr
					td
						a(href="#") Базовое ТО
					td 20
					td Заказать	
				tr
					td
						a(href="#") Стандартное ТО
					td 30
					td Заказать	
