.wrap.content
	.about
		.left
			img.lazyload(data-src="/assets/img/pages/index/po.png" width="279" height="152")
		.right
			h2.y Сервис "АВТОЦЕХ"
			p.bold Ваш верный автосервис

			.desc
				p Автосервис «Автоцех» предлагает качественный ремонт автомобилей в Минске по приемлемым ценам. Мы профессионально ремонтируем машины всех марок любых лет выпуска уже далеко не первый год.
				p Для многих владельцев автомобилей наш автосервис является одним из немногих, где можно устранить практически любую неисправность.. Благодаря многолетнему опыту и профессиональному обучению наши специалисты справятся с любой поставленной задачей по ремонту автомобиля.
	.eight
		.left
		.right
			h2.y 4 повода обратиться к нам
			.tenets
				.item
					img.lazyload(data-src="/assets/img/pages/index/8/cert.svg" width="96" height="94")
					.d
						p.y Гарантия 6 месяцев
						p Клиенты автосервиса "АВТОЦЕХ"-а получают гарантию на выполненные работы — 6 месяцев
				.item
					img.lazyload(data-src="/assets/img/pages/index/8/clock.svg" width="95" height="95")
					.d
						p.y Выдача авто вовремя
						p Автовладельцу передают машину точно в указанный оператором срок

				.item
					img.lazyload(data-src="/assets/img/pages/index/8/shield.svg" width="82" height="96")
					.d
						p.y Сохраняем гарантию
						p После ремонта или любого вида обслуживания сохраняется и гарантия производителя
				.item
					img.lazyload(data-src="/assets/img/pages/index/8/gear.svg" width="96" height="96")
					.d
						p.y Ремонтируем только поломки
						p Специалисты тщательно диагностируют и проверяют автомобиль, выявляют и устраняют только реальные поломки
	.models
		.left
		.right
			h2.y Ремонтируемые марки авто
			.logos
				img.lazyload(data-src="/assets/img/layout/models-logo/merc.svg" width="53" height="53")
				img.lazyload(data-src="/assets/img/layout/models-logo/bmw.svg" width="53" height="53")
				img.lazyload(data-src="/assets/img/layout/models-logo/skoda.svg" width="53" height="53")
				img.lazyload(data-src="/assets/img/layout/models-logo/toyota.svg" width="53" height="35")
				img.lazyload(data-src="/assets/img/layout/models-logo/lexus.svg" width="53" height="36")
				img.lazyload(data-src="/assets/img/layout/models-logo/toyota.svg" width="53" height="35")
	.map
		.left
		.right
			.head
				p.bold Мы находимся
				p г. Минск, ул. Козлова, 22
			iframe.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2350.562368927103!2d27.592893!3d53.903982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf844984d4297df1!2z0JDQstGC0L7RgdC10YDQstC40YEgItCQ0LLRgtC-0KbQtdGFIg!5e0!3m2!1sru!2sby!4v1606501542006!5m2!1sru!2sby" width="100%" height="240" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

				