header
	.row.one
		background-color: #F1ECE8
		ul
			display: flex
			justify-content: space-between
			padding: 1rem 0
			li
				img
					vertical-align: middle
					margin-right: 1rem
				&.phone a
					color: #707070
					font-weight: bold
	.row.two
		background-color: #fff
		.wrap
			display: flex
			justify-content: space-between
			align-items: center
			height: 50px
		ul.zero
			display: flex
			justify-content: space-between
			flex-grow: 1
			margin-top: -1px
		img.logo
			margin-right: 112px
			//padding-top: 7px
		a
			color: #333
			padding: 15px 1rem
			&:hover
				background-color: $green1
		li.models
			position: relative
			&:after
				content: url(/assets/img/layout/header/triangle.svg)
				position: absolute
				top: 25%
				transform: rotate(180deg)
			&:hover
				&:after
					transform: rotate(0deg)
					top: -25%
				ul.one
					display: block	

			ul.one
				position: absolute
				top: 35px
				border: 1px solid #EFEFEF
				width: 150px
				display: none
				background-color: #fff
				a
					display: inline-block
					width: 100%
					padding-left: 1.5rem
				li
					position: relative
					&:before
						content: url(/assets/img/layout/header/triangle.svg)
						transform: rotate(-90deg)
						position: absolute
						top: 14px
					&:hover
						ul.two
							display: block	
			ul.two
				display: none
				border: 1px solid #EFEFEF
				position: absolute
				left: -150px
				width: 150px			
				top: -1px
				background-color: #fff
				li
					&:hover
						ul.three
							display: block
			ul.three
				display: none
				border: 1px solid #EFEFEF
				position: absolute
				left: -150px
				width: 150px			
				top: -1px
				background-color: #fff
				li
					&:before
						content: ''

body
	&.index-page
		h1
			color: #C3E5E9
			font-size: 54px
			text-transform: uppercase
		.slide
			background-image: url(/assets/img/pages/index/slide.jpg)
			min-height: 90vh
			background-size: cover
			background-repeat: no-repeat
			display: grid
			align-items: center
			.wrap
				display: flex
				justify-content: space-between
				align-items: center
				.right
					width: 444px
					text-align: center
				form.left
					width: 330px
					.header
						background-color: $green
						padding: 11px 55px 11px 67px
						border-radius: 5px 5px 0 0
						span
							color: #fff
						img
							margin-right: 12px
					.body
						border-radius: 0 0 5px 5px
						background: rgba(255, 255, 255, 0.13)
						border: 1px solid rgba(40, 109, 116, 0.6)
						display: flex
						flex-direction: column
						align-items: center
						height: 100%
						padding-bottom: 2rem

						input
							display: block
							&[type="text"]
								border-radius: 5px
								background: rgba(226, 232, 222, 0.27)
								border: 1px solid #dbdbdb
								padding: 12px 21px 12px 21px
								color: #fff
								&::placeholder
									color: #fff
								&:focus
									outline: none
									background: rgba(226, 232, 222, 0.5)
								&:nth-of-type(2)
									margin-top: 19px
									margin-bottom: 28px
								&:nth-of-type(1)
									margin-top: 31px
						button[type="submit"]
							background: #C3E5E9
							padding: 9px 12px
							border-radius: 4px
							border: 1px solid #99C4C8
							cursor: pointer
							transition: background .4s ease-in-out
							color: $green
							font-weight: 500
							display: flex
							align-items: center
							&:hover
								background: darken(#C3E5E9, 5%)
							img
								margin-right: 1rem	
		.wrap.content
			.about, .eight, .models, .map
				display: flex
				.left
					width: 356px
				.right
					flex-grow: 1
					width: 100%




