article
	include ../../layout/bread.pug
	#intro
		.img(style="background-image: url(/assets/img/pages/diag/intro.jpg)")
		h1 Комплексная диагностика авто в Минске

		.row
			.item
				img.lazyload(data-src="/assets/img/pages/service/wallet.svg" width="33" height="27")
				.dsc
					span.one Стоимость
					span.two от 250 р.

			.item
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="32" height="30")
				.dsc
					span.one Гарантия
					span.two 1 год

			.item.order
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="37" height="34")
				.dsc
					span.one Заказать
					span.two услугу
		.cont
			p <b>Комплексная диагностика автомобиля </b>– это процедуры по оценке состояния различные механизмов и агрегатов, а также деталей кузова. Проведение таких мероприятий возможно в нескольких случаях.
			p Во-первых, при покупке подержанного автомобиля. Правильный подход к делу – проверить все важные устройства. Конечно, поступать так надо не с каждой машиной, а только с той, которая вызывает доверие по результатам изучения документов и внешнего осмотра.
	.price
		h3 Цена комплексной диагностики авто
		p Проведение комплексной диагностики авто требует наличия профессионального инструментария. Следовательно, кустарные методики гаражных мастерских дадут результат, далекий от ожидаемого. Чтобы быть уверенным в точности вынесенного вердикта, в Минске  Вы можете обратиться за помощью к специалистам «Автоцеха», которые имеют большой подобных работ. Следовательно, Вы можете не сомневаться, что будет изучено состояние всех важных механизмов.
		//table
			thead
				tr
					td Наименование услуги
					td Стоимость от, руб.
					td
			tbody
				tr
					td
						a(href="#") Комплексная диагностика
					td 50
					td
						span.order Заказать	
				tr
					td
						a(href="#") Электронная диагностика автомобиля
					td 50
					td
						span.order Заказать	
				tr
					td
						a(href="#") Диагностика неисправностей автомобиля
					td 50
					td
						span.order Заказать

		p Имеется несколько характерных признаков, которые подскажут водителю, что необходимо задуматься о замене колодок:
		ul
			li <b>Характерный высокий звук при торможении автомобиля</b> . Он может появиться, если колодки сильно стерты и требуется их срочная замена;
			li <b>Автомобиль начал медленнее тормозить</b> Если вы не первый день управляете машиной, то заметите, что при износе колодок ее тормозной путь увеличится, а педаль тормоза придется вдавливать все сильнее, чтобы автомобиль начал останавливаться;
			li При резком нажатии на педаль торможения <b>ощущаются биения тормозов</b> будто автомобиль преодолевает кочки. Это связано с тем, что по мере работы колодки изнашиваются неравномерно. На них образуются трещины, сколы и «заусенцы», которые приводят к подобному эффекту при касании колодками тормозных дисков.
		p Если озвученных признаков недостаточно, чтобы определить износ колодок, можно провести визуальный осмотр.
						
			

	#features.box
		h3 Преимущества нашего сервиса
		.list
			.item
				img.lazyload(data-src="/assets/img/pages/service/settings.svg" width="51" height="51")
				span Нужные запчасти со своего склада	
			.item
				img.lazyload(data-src="/assets/img/pages/service/calen.svg" width="43" height="47")
				span Выполнение работ точно в срок
			.item
				img.lazyload(data-src="/assets/img/pages/service/shield.svg" width="44" height="51")
				span Гарантия на все виды работ						
	#rating.box
		.items
			.item
				.row
					img.lazyload(data-src="/assets/img/pages/diag/rating/car-repair.svg" width="37" height="36")
					span 1050
				p Машин у нас отремонтировано	
			.item
				.row
					img.lazyload(data-src="/assets/img/pages/diag/rating/money.svg" width="36" height="36")
					span ~ 465 $
				p Столько сэкономили наши клиенты		
			.item
				.row
					img.lazyload(data-src="/assets/img/pages/diag/rating/star.svg" width="35" height="33")
					span 8.7
				p Наш рейтинг <br>среди СТО	

