article
	include ../../layout/bread.pug
	#intro
		.img(style="background-image: url(/assets/img/pages/service/intro.jpg)")
		h1 Замена гидрокомпенсаторов в двигателе в Минске	
		.row
			.item
				img.lazyload(data-src="/assets/img/pages/service/wallet.svg" width="33" height="27")
				.dsc
					span.one Стоимость
					span.two от 250 р.

			.item
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="32" height="30")
				.dsc
					span.one Гарантия
					span.two 1 год

			.item.order
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="37" height="34")
				.dsc
					span.one Заказать
					span.two услугу
		.cont
			p <b>Гидрокомпенсатор</b> — устройство, предназначенное для автоматической регулировки тепловых зазоров клапанов двигателя. Неисправность данного элемента может привести в повышенному износу распредвала и других элементов ДВС.
	#symptom
		h3 Признаки обращения к специалисту
		ul
			li неприятный стук из-под капота вашего авто				
			li стук гидрокомпенсаторов
