article
	include ../../layout/bread.pug
	#intro
		.img(style="background-image: url(/assets/img/pages/service/intro.jpg)")
		h1 Замена гидрокомпенсаторов в двигателе в Минске	
		.row
			.item
				img.lazyload(data-src="/assets/img/pages/service/wallet.svg" width="33" height="27")
				.dsc
					span.one Стоимость
					span.two от 250 р.

			.item
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="32" height="30")
				.dsc
					span.one Гарантия
					span.two 1 год

			.item.order
				img.lazyload(data-src="/assets/img/pages/service/calendar.svg" width="37" height="34")
				.dsc
					span.one Заказать
					span.two услугу
		.cont
			p <b>Гидрокомпенсатор</b> — устройство, предназначенное для автоматической регулировки тепловых зазоров клапанов двигателя. Неисправность данного элемента может привести в повышенному износу распредвала и других элементов ДВС.
	#symptom
		h3 Признаки обращения к специалисту
		ul
			li неприятный стук из-под капота вашего авто				
			li стук гидрокомпенсаторов
	#related
		h3 Сопутствующие услуги
		.list
			.item
				img.lazyload(data-src="/assets/img/pages/service/01.jpg" width="93" height = "93")
				.dsc
					a(href="#") Ремонт головки блока цилиндров
					span.price от 400 р.
			.item
				img.lazyload(data-src="/assets/img/pages/service/02.jpg" width="93" height = "93")
				.dsc
					a(href="#") Ремонт головки блока цилиндров
					span.price от 500 р.
			.item
				img.lazyload(data-src="/assets/img/pages/service/03.jpg" width="93" height = "93")
				.dsc
					a(href="#") Замена вкладышей коленвала
					span.price от 600 р.
			.item
				img.lazyload(data-src="/assets/img/pages/service/04.jpg" width="93" height = "93")
				.dsc
					a(href="#") Проточка блока цилиндров
					span.price от 700 р.
	#features
		h3 Преимущества нашего сервиса
		.list
			.item
				img.lazyload(data-src="/assets/img/pages/service/settings.svg" width="51" height="51")
				span Нужные запчасти со своего склада	
			.item
				img.lazyload(data-src="/assets/img/pages/service/calen.svg" width="43" height="47")
				span Выполнение работ точно в срок
			.item
				img.lazyload(data-src="/assets/img/pages/service/shield.svg" width="44" height="51")
				span Гарантия на все виды работ
	#reviews.lazyload
		.left
			img.lazyload(data-src="/assets/img/pages/service/favorite.svg" width="52" height="44")
			h3 Отзывы наших клиентов
			p.open.pen
				img.lazyload(data-src="/assets/img/pages/service/pen.svg" width="15" height="15")
				span Написать отзыв
			form
				input(type="text" required placeholder="Ваше имя")
				textarea(placeholder="Текст отзыва" required)
				span.close &times;
				.row
					button.reject Отмена
					button.submit(type="submit")
						img.lazyload(data-src="/assets/img/layout/forms/plane.svg")
						span Отправить	
		.right
			.row
				span.author Елена М.
				span.date 05.02.2021
				.arrows
					svg.prev.disabled(viewBox="0 0 6 13")
						path(d="M6 6.5L0 13V0z")
					svg.active(viewBox="0 0 6 13")
						path(d="M6 6.5L0 13V0z")
			.body
				.item
					p Безмерная благодарность настоящим профи своего дела за помощь в решении пусть и небольшой,но проблемы,особенно для девушки.
					p Перестал работать дворник с водительской стороны. Предположения о том,что открутился болтик на трапеции подтвердились,когда сняли подлобовую решетку,резинку и т.д.
				.expand
					span Развернуть
					img.lazyload(data-src="/assets/img/pages/service/0.svg" width="13" height="6")


						

				

				
