button.submit[type="submit"]
	background: #C3E5E9
	padding: 9px 12px
	border-radius: 4px
	border: 1px solid #99C4C8
	cursor: pointer
	transition: background .4s ease-in-out
	color: $green-74
	font-weight: 500
	display: flex
	align-items: center
	&:hover
		background: darken(#C3E5E9, 5%)
	img
		margin-right: 1rem
button.reject
	background: $green-de
	color: $green-74
	border: 1px solid rgba(190, 210, 212, 0.85)
	border-radius: 5px
	padding: 12px 24px	
	cursor: pointer
	transition: background 0.3s ease-in-out
	font-size: 13px
	&:hover
		background: darken($green-de, 5%)
nav.bread
	ol
		padding-left: 0
		list-style-type: none
		display: flex
		margin: 0
		a
			color: #2D2D2D
			&:hover
				text-decoration: underline
				color: $green-74
		li
			margin-right: 20px
			position: relative
			&:after
				content: "/"
				position: absolute
				right: -14px
			&:last-of-type
				&:after
					content: ""
				a
					color: #989898
span.button.search
	background: #C3E5E9
	border: 1px solid rgba(153, 196, 200, 0.24)
	border-radius: 5px
	font-size: 13px
	font-weight: 600
	color: $green-74
	height: 36px
	display: flex
	align-items: center
	justify-content: space-around
	width: 102px
	cursor: pointer
	transition: background 0.3s ease-in-out
	&:hover
		background: darken(#C3E5E9, 5%)
.spin
  -webkit-animation: rotating 2s linear infinite

@-webkit-keyframes rotating
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
.box
	background: #fff
	border: 1px solid #DBDBDB
	border-radius: 5px
	padding: 33px
	@media(max-width: 500px)
		border-radius: 0
		padding: 1rem
		margin: 1rem -1rem	
#map
	margin: 3rem 0
	.head
		background: #fff
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0 1rem
		border-top-left-radius: 5px			
		border-top-right-radius: 5px	
		flex-wrap: wrap	 
#intro
	background: #fff
	border: 1px solid #DBDBDB
	border-radius: 5px
	padding: 30px 33px
	margin-top: 30px
	@media(max-width: 500px)
		border-radius: 0
		margin: 0 -1rem
		margin-top: 2rem
		padding: 1rem
		h1
			font-size: 25px
	.img
		height: 197px
		background-position: center center
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		margin: -30px -33px
		margin-bottom: 30px
	.row
		display: flex
		flex-wrap: wrap
		.item
			margin-right: 76px
			display: flex
			align-items: center
			padding: 1rem
			transition: background 0.3s ease-in-out
			border-radius: 5px
			img
				margin-right: 18px
			.dsc
				span
					display: block
					&.one
						font-size: 15px
						color: #707070
					&.two
						color: $green-74
						font-weight: 900
			&.order
				cursor: pointer
				&:hover
					background: $green-de
	.cont
		color: #707070
		margin-top: 40px
		b
			font-weight: 700
		p
			line-height: 21px				
#features
	margin: 1rem 0
	position: relative
	@media(max-width: 500px)
		margin: 1rem -1rem
		.list
			width: 64%
			.item
				span
					text-align: left
	&:after
		content: url(/assets/img/pages/service/meh2.jpg)
		position: absolute
		right: 1rem
		bottom: -5px
	h3
		font-size: 25px
		font-weight: 900
		color: #333
		margin-top: 0
		margin-bottom: 2rem
	.list
		display: flex
		@media(max-width: 700px)
			flex-direction: column
			.item
				flex-direction: row
				height: auto
				width: auto
				justify-content: normal
				img
					width: 16px
					margin-right: 1rem
		.item
			width: 125px
			height: 100px
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			text-align: center
			margin-right: 2rem
			span
				display: block
				font-size: 14px
				color: #707070					
#rating
	padding-bottom: 1rem
	margin-bottom: 1rem
	.items
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		.item
			width: 180px
			margin-bottom: 1rem
			p
				font-size: 15px
				color: #707070
				margin-bottom: 0
			.row
				display: flex
				align-items: center
				//justify-content: center
				img
					margin-right: 1rem
				span
					font-size: 25px
					font-weight: 900						
.widget
	&.evac
		background: #99C4C8
		width: 524px
		position: relative
		padding-top: 37px
		padding-left: 33px
		padding-right: 33px
		padding-bottom: 20px
		margin: 1rem 0
		@media(max-width: 680px)
			width: 100%
			img.lazyloaded
				width: 100%
				height: auto
		.borders
			.top-left
				position: absolute
				top: -3px 
				left: -3px
			.top-right
				position: absolute
				top: -3px 
				right: -3px
			.bottom-left
				position: absolute
				bottom: -3px 
				left: -3px
			.bottom-right
				position: absolute
				right: -3px 
				bottom: -3px
		h3
			font-size: 25px
			font-weight: 900
		p.h3
			color: $green-74
			font-size: 18px
			font-weight: 900
		form
			display: flex
			@media(max-width: 440px)
				flex-wrap: wrap
				input
					margin-bottom: 1rem
					padding-bottom: 7px
			input
				background: transparent
				border: none
				border-bottom: 1px solid $green-74
				flex-grow: 1
				margin-right: 1rem
				&:focus
					outline: none
					background: $green-de
				&::placeholder
					color: $green-74
					font-family: "Lato", sans-serif
					font-size: 18px
			button
				background: #fff		
#certs
	h3
		font-size: 25px
		font-weight: 900
		font-size: #333
	.list
		display: flex
		@media(max-width: 600px)
			overflow-y: scroll
			width: 90vw
		img
			margin-right: 1rem	
.msearch.mobile
	margin-right: 1rem
	&.white
		background: #fff
		border-radius: 5px
		padding: 1rem
		padding-bottom: 0
		border: 1px solid #DBDBDB
		.res
			background: none
			border: 0
	@media(max-width: 400px)
		//margin-left: -1rem
	.row
		display: flex
		justify-content: space-between
		input
			border: none
			border-bottom: 1px solid #DBDBDB
			background: transparent
			font-size: 15px
			font-family: "Lato", sans-serif
			&:focus
				outline: none
				background: $green-de
	.res
		background: #fff
		border-radius: 5px
		border: 1px solid #DBDBDB
		margin: 1rem 0
		display: none
		&.open
			display: block
		ul
			li
				line-height: 39px
				padding:  10px
				&:hover
					background: $green-de
				&.model
					line-height: 130%
				a
					span
						display: block
						&.pagetitle
							color: #333
							font-size: 16px
						&.year
							font-size: 14px
							color: $green-74			
#spec
	padding-bottom: 23px
	h3
		font-size: 25px
		font-weight: 900
		margin-top: 0
	p
		color: #707070
		font-size: 15px
		font-weight: 900
	.list
		display: flex
		margin-top: 2rem
		margin-bottom: 1rem
		align-items: center
		.item
			height: 130px
			width: 180px
			text-align: center
			display: flex
			flex-direction: column
			justify-content: space-between
			margin-right: 1rem

.msearch.desktop
	h2
		font-size: 25px
		font-weight: 900
	input
		width: 346px
		padding:  1rem
		border: 1px solid #DBDBDB
		border-radius: 5px
		font-size: 18px
		font-family: 'Lato', sans-serif
		&::-webkit-calendar-picker-indicator
			opacity: 100
		&:focus
			outline: none
			background: $green-de
	form
		ul.res
			display: none
			width: 346px
			background: #fff
			border-radius: 5px
			border: 1px solid #DBDBDB
			margin: 1rem 0
			&.open
				display: block
			li
				&:nth-of-type(1)
					margin-top: 1rem
				a
					color: #333
					padding: 1rem
					display: inline-block
					width: 100%
					&:hover
						background: $green-de
	.wrapper
		display: flex
		ul.ares
			background: #fff
			border-radius: 5px
			border: 1px solid #DBDBDB
			width: 346px
			margin-left: 60px
			margin-bottom: 1rem
			display: none
			&.open
				display: block
			li
				&:nth-of-type(1)
					margin-top: 1rem
				a
					color: #333
					padding: 1rem
					display: inline-block
					width: 100%
					transition: background 0.3s ease-in-out
					&:hover
						background: $green-de
					span
						display: block
						&.gen
							color: $green-74
							font-size: 17px
							font-weight: bold
						&.year
							font-size: 15px
							color: #707070							
		span.close
			color: $green-74
			font-size: 30px
			margin-left: 1rem
			margin-top: -7px
			cursor: pointer
			transition: color 0.3s ease-in-out
			display: none
			&.show
				display: block
			&:hover
				color: #FFC400
.car-list
	.item
		display: flex
		background: #fff
		border-radius: 5px	
		border: 1px solid #DBDBDB
		margin-bottom: 1rem
		@media(max-width: 680px)
			flex-direction: column
			>img
				display: none
		@media(max-width: 370px)
			>img
				display: block
				width: 100%
				border-radius: 0
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				height: auto
			.dsc
				ul
					width: 100%
					padding-right: 1rem
		>img
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
		.dsc
			padding-left: 26px
			position: relative
			width: 100%
			@media(max-width: 680px)
				padding-left: 0
				ul
					padding-left: 26px
				h3
					padding-left: 26px	
					padding-right: 26px
					line-height: 30px	
			>a
				color: $green-74
			ul
				width: 80%
				margin-top: 2rem
				li
					display: flex
					justify-content: space-between
					line-height: 22px
					color: #707070
					a
						color: #707070
						&:hover
							color: $green-74
							text-decoration: underline

			.row
				background: #C3E5E9
				position: absolute
				bottom: 0
				width: 100%
				margin-left: -26px
				padding: 6px
				text-align: right
				padding-right: 1rem
				@media(max-width: 680px)
					position: relative
					margin-left: 0
					margin-top: 1rem
				a
					color: $green-74
					font-size: 18px
					font-weight: 600
					&:hover
						text-decoration: underline
					img
						vertical-align: text-bottom
						margin-right: 1rem									