section
  .slide
    .wrap
      form.left
        .header
          img.lazyload(data-src="/assets/img/layout/forms/pen.svg" width="15" height="15")
          span Записаться на сервис
        .body
          input(type="text" placeholder="Ваше имя" required)
          input(type="text" placeholder="Ваш телефон" required)
          button.submit(type="submit")
            img.lazyload(data-src="/assets/img/layout/forms/plane.svg")
            span Отправить  
      .right
        img.logo(src="/assets/img/pages/index/logo.png")
        h1 Комплексный ремонт и  диагностика автомобилей в Минске 