extends ../layout/index

block variables
  - var title = 'Главная';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  include ../includes/pages/index/slide 
  include ../includes/pages/index/about 
