extends ../layout/model

block variables
  - var title = 'Список услуг ремонта';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'model-page marble';


block content
  section
    .wrap
      include ../includes/layout/aside
      //include ../includes/pages/model/content
      include ../includes/pages/model/mobile.content.pug
    
