article
	include ../../layout/bread.pug
	h1 Ремонт двигателя в Минске в сервисе
	.desktop.items
		.item
			img.s.lazyload(data-src="/assets/img/pages/service-list/01.jpg" width="198" height="205")
			.wrapper
				.dsc
					a(href="/service.html")
						h3 Замена датчика коленвала
					p Для эффективной работы современного двигателя важно знать в каком положении находится коленчатый вал.
				.row
					.price
						img.lazyload(data-src="/assets/img/pages/service-list/wallet.svg" width="33" height="27")
						span от 250 р.
					.order
						img.lazyload(data-src="/assets/img/pages/service-list/cart.svg" width="29" height="27")
						span Заказать

		.item
			img.s.lazyload(data-src="/assets/img/pages/service-list/02.jpg" width="198" height="205")
			.wrapper
				.dsc
					a(href="/service.html")
						h3 Замена гидрокомпенсаторов
					p <b>Гидрокомпенсатор</b> — устройство, предназначенное для автоматической регулировки тепловых зазоров клапанов двигателя.
				.row
					.price
						img.lazyload(data-src="/assets/img/pages/service-list/wallet.svg" width="33" height="27")
						span от 250 р.
					.order
						img.lazyload(data-src="/assets/img/pages/service-list/cart.svg" width="29" height="27")
						span Заказать	

