article
	include ../../layout/bread.pug
	h1 Ремонт двигателя в Минске в сервисе

	.subcat
		.expand.open
			span свернуть
			img.lazyload.triangle(data-src="/assets/img/pages/service-list/triangle.svg" width="10" height="5")
		.list.open
			ul
				li
					a(href="#") Выхлопная система
				li
					a(href="#") Рулевое управление
				li
					a(href="#") Тормозная система
				li
					a(href="#") Сцепление
				li
					a(href="#") Тормозная система
				li
					a(href="#") Сцепление
				li
					a(href="#") Тормозная система
				li
					a(href="#") Сцепление
				li
					a(href="#") Тормозная система
				li
					a(href="#") Сцепление
	.mobile.items
		.item(href="#")
			img.lazyload.s(data-src="/assets/img/pages/service-list/01.jpg" width="63" height="63")
			.dsc
				a.pagetitle(href="#") Замена датчика коленвала
				.row
					span.price от 205 р.
					.order
						img.lazyload(data-src="/assets/img/pages/service-list/mcart.svg" width="24" height="24")
						span Заказать	
		.item(href="#")
			img.lazyload.s(data-src="/assets/img/pages/service-list/01.jpg" width="63" height="63")
			.dsc
				a.pagetitle(href="#") Замена гидрокомпенсаторов в Минске недорого
				.row
					span.price от 155 р.
					.order
						img.lazyload(data-src="/assets/img/pages/service-list/mcart.svg" width="24" height="24")
						span Заказать	

