footer
	.scripts-area
	.wrap
		.row
			.logo
				img.lazyload(
				data-src="/assets/img/layout/footer/logo.svg"
				width="160"
				height="33"
				)
				p Ваш верный автосервис
				ul
					li ООО "Автоцех"
					li 193458024
			
			ul.col
				li
					a(href="/remont") Ремонт
				li
					a(href="/dia") Диагностика
				li
					a(href="/models") Марки
				li
					a(href="/teh") Техобслуживание
				li
					a(href="/eva") Эвакуатор
			ul.col
				li
					a(href="/about") О нас
				li
					a(href="/contacts") Контакты
				li
					a(href="/reviews") Отзывы
			ul.addr
				li г. Минск
				li ул. Козлова, 22
				li Пн - Пт с 9 до 19
				li Сб с 9 до 16
				li.callback Заказать звонок
			ul.col
				li
					a(href="tel:+375293715050") +375 (29) 371-50-50
				li
					a(href="tel:+375333715050") +375 (33) 371-50-50
				li.mail
					a(href="mailto:3715050@mail.ru") 3715050@mail.ru
		.row
			p.cred Обращаем Ваше внимание на то, что вся представленная на сайте информация носит информационный характер и не является публичной офертой. 			


		