header
	.row.one
		.wrap
			ul
				li.addr
					img(src="/assets/img/layout/header/gear.svg" width="17" height="17")
					span г. Минск, ул. Козлова, 22
				li.time
					img(src="/assets/img/layout/header/clock.svg" width="19" height="19")
					span Пн - Пт, 9-19; Сб 9-16
				li.call
					img(src="/assets/img/layout/header/phone.svg" width="17" height="17")
					span Перезвоните мне
				li.signup
					img(src="/assets/img/layout/header/chain.svg" width="22" height="15")
					span Записаться в сервис
				li.phone
					a(href="tel:+375293715050") +375 (29) 371-50-50

	.row.two
		.wrap
			img.logo(src="/assets/img/layout/header/logo.svg")
			ul.zero
				li
					a(href="#") Ремонт
				li
					a(href="#") Диагностика
				li
					a(href="#") ТО
				li
					a(href="#") Запчасти

				include header.nav.pug
				
				li
					a(href="#") Эвакуатор
				li
					a(href="#") О нас
				li
					a(href="#") Контакты
			a.mtel(href="tel:+375293715050") +375 (29) 371-50-50
			#nav-icon1
				span
				span
				span
