header
	.row.one
		.wrap
			ul
				li.addr
					img(src="/assets/img/layout/header/pointer.svg" width="16" height="21")
					span г. Минск, ул. Козлова, 22
				li.soc
					a.viber(href="viber://chat/?number=%2B375293715050" title="Написать в вайбер")
						img(src="/assets/img/layout/header/viber.svg" width="18" height="20")
					a.tg(href="tg://resolve?domain=Autoceh" title="Написать в телеграм")
						img(src="/assets/img/layout/header/tg.svg" width="19" height="16")
					a.in(href="https://www.instagram.com/autoceh.by/" target="_blank")
						img(src="/assets/img/layout/header/in.svg" width="19" height="19")
				li.phone
					a.a1(href="tel:+375293715050")
						img(src="/assets/img/layout/header/a1.png" width="26" height="26")
						span +375 (29) 371-50-50
				li.phone
					a.mts(href="tel:+375333715050")
						img(src="/assets/img/layout/header/mts.png" width="18" height="18")
						span +375 (33) 371-50-50

	.row.two
		.wrap
			a(href="/")
				img.logo(src="/assets/img/layout/header/logo.svg")
			ul.zero
				li
					a(href="#") Ремонт
				li
					a(href="#") Диагностика
				li
					a(href="#") ТО
				li
					a(href="#") Запчасти

				include header.nav.pug
				
				li
					a(href="#") Эвакуатор
				li
					a(href="#") О нас
				li
					a(href="#") Контакты
			a.mtel(href="tel:+375293715050") +375 (29) 371-50-50
			#nav-icon1
				span
				span
				span
