#map_popup
	.black
		.content
			span.notice Карта загружается..
			iframe.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2350.562368927103!2d27.592893!3d53.903982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf844984d4297df1!2z0JDQstGC0L7RgdC10YDQstC40YEgItCQ0LLRgtC-0KbQtdGFIg!5e0!3m2!1sru!2sby!4v1606501542006!5m2!1sru!2sby" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			span.close &times;