.body
	.header
		span навигация
	ul
		li.inc
			a(href="#") Ремонт
			img.lazyload.chevron(
			data-src="/assets/img/layout/footer/chevron.svg"
			width="8" height="15" )
			ul
				li.one
					a(href="#") Двигатель
				li.one
					a(href="#") Выхлопная система
				li.one
					a(href="#") Рулевое управление
				li.one
					a(href="#") Тормозная система
		li.inc
			a(href="#") Диагностика
		li.inc
			a(href="#") Модели
		li.inc
			a(href="#") Техобслуживание
		li
			a(href="#") Запчасти
		li
			a(href="#") Эвакуатор
		li
			a(href="#") О нас 
		li
			a(href="#") Контакты