article
	include ../../layout/bread.pug
	#system-intro
		.img(style="background: url(/assets/img/pages/system/img.jpg); background-position: 50%")
			.year
				h3 XA50, 2018 - н.в.
			.signup
				img.lazyload(data-src="/assets/img/pages/system/pen.svg" width="15" height="15")
				span Записаться	на сервис
		h1 Ремонт тормозных суппортов Toyota RAV4 в Минске

		.row.price
			.item
				img.wallet.lazyload(data-src="/assets/img/pages/system/wallet.svg" width="33" height="27")
				.dsc
					span.label Стоимость
					span.price от 50 р.	

			.item
				img.cart.lazyload(data-src="/assets/img/pages/system/cart.svg" width="32" height="30")
				.dsc
					span.label Заказать 
					span.price услугу

		.content
			.left
				p Комплексная диагностика автомобиля – это процедуры по оценке состояния различные механизмов и агрегатов, а также деталей кузова. Проведение таких мероприятий возможно в нескольких случаях. 

				p Во-первых, при покупке подержанного автомобиля. Правильный подход к делу – проверить все важные устройства. Конечно, поступать так надо не с каждой машиной, а только с той, которая вызывает доверие по результатам изучения документов и внешнего осмотра.
			.right
				img(src="/assets/img/pages/system/0206.jpg")
					


	.remont.box.mb16
		h3 Ремонт других систем Тойота RAV4 XA50
		.list
			.item
				img.lazyload(data-src="/assets/img/pages/system/toyota.jpg" width="37" height="25")
				.dsc
					a(href="#") Тормозные суппорта
					span от 400 р.
			.item
				img.lazyload(data-src="/assets/img/pages/system/toyota.jpg" width="37" height="25")
				.dsc
					a(href="#") Замена ремня ГРМ
					span от 290 р.
			.item
				img.lazyload(data-src="/assets/img/pages/system/toyota.jpg" width="37" height="25")
				.dsc
					a(href="#") Тормозные суппорта
					span от 400 р.
			.item
				img.lazyload(data-src="/assets/img/pages/system/toyota.jpg" width="37" height="25")
				.dsc
					a(href="#") Замена ремня ГРМ
					span от 290 р.

	.choose.box.toyota
		h3 Выберите модель Toyota
		ul
			li
				a(href="#") Avensis
			li
				a(href="#") Camry
			li
				a(href="#") Celicas
			li
				a(href="#") Crown
			li
				a(href="#") Hilux
			li
				a(href="#") Mark II
			li
				a(href="#") Prius
			li
				a(href="#") Yaris

						